@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
@import './var';

//style reset
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

//general styling
body{
    background-color: $light-grayish-cyan;
    display: flex;
    align-items: center;
    flex-direction: column;  
}
body,button,input{
    font-family: 'Space Mono', monospace;
}
button,input,.result-value{
    font-size: 1.5rem;
}
input{
    text-align: right;
    padding: 0.3rem 0.7rem;
    border-radius: 5px;
    border: none;
    color: $very-dark-cyan;
    width: 100%;
    &:hover{
        cursor: pointer;
    }
    // &:focus{
    //     outline: 2px solid $strong-cyan;
    // }
}
input[type=text]:focus{
    outline: 2px solid $strong-cyan;
}

.input-bar::placeholder{
    color: $grayish-cyan;
    opacity: 1;
}
#custom-tip::placeholder{
    color: $dark-grayish-cyan;
}
.input-icon{
    position: absolute;
    bottom: 10px;
    left: 15px;
}
header{
    margin-top: 3rem;
}
.section-name{
    color: $dark-grayish-cyan;
    font-size: 1rem;
}


//main content styling
.main-content{
    margin-top: 2.5rem;
    width: 100%;
    max-width: 375px;
    background-color: $white;
    border-radius: 20px;
    padding: 1.5rem;
    .input-section{
        padding: 0.5rem;
    }
    .section-wrapper{
        position: relative;
        margin-bottom: 2rem;
        h3{
            margin-bottom: 0.5rem;
        }
    }

    .option-wrapper{
        margin-top: 1rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
        button{
            border-radius: 5px;
            border: none;
            color: $light-grayish-cyan;
            background-color: $very-dark-cyan;
            height: 50px;
            &:hover{
                cursor: pointer;
                background-color: $light-grayish-cyan;
                color: $very-dark-cyan;
            }
        }
        button.active{
            background-color: $strong-cyan;
            color: $very-dark-cyan;
            &:hover{
                cursor: pointer;
                background-color: $strong-cyan;
                color: $very-dark-cyan;
            }
        }
    }
    
    #label-wrapper{
            display: flex;
            justify-content: space-between;
            .input-alert{
                color: red;
                font-size: 1rem;
            }
    }
    
    .result-section{
        background-color: $very-dark-cyan;
        border-radius: 20px;
        padding: 1.5rem;
        h3{
            font-size: 1rem;
            color: $light-grayish-cyan;
        }
        p{
            color: $grayish-cyan;
            font-size: 0.75rem;
            word-spacing: 1px;
        }
        .result-value{
            font-size: 2.5rem;
            color: $strong-cyan;
        }
        .result{
            margin-top: 1rem;
        }
        .result-wrapper{
            margin-bottom: 1.5rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .reset-btn{
            width: 100%;
            border-radius: 5px;
            border: none;
            padding: 0.5rem;
            background-color: hsla(186, 100%, 20%, 1);
            color: $very-dark-cyan;
            font-size: 1.25rem;
        }
        button.calc-active{
            background-color: $strong-cyan;
            color: $very-dark-cyan;
            &:hover{
                cursor: pointer;
                background-color: $light-grayish-cyan;
                color: $very-dark-cyan;
            }
        }
    }
    
}

@import './mediaQueries'